.aui-navBar {
		    /*height: 44px;*/
		    position: fixed;
		    display: -webkit-box;
		    width: 100%;
		    display: -webkit-flex;
		    top: 0;
		    display: -ms-flexbox;
		    display: flex;
		    padding-top: 35px;
		    z-index:996;
		}
		
		.aui-navBar-item {
		    height: 44px;
		    min-width: 25%;
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 25%;
		    -ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		    padding: 0 0.2rem;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    font-size: 0.7rem;
		    white-space: nowrap;
		    overflow: hidden;
		    position: relative;
		}
		
		.aui-navBar-item:first-child {
		    -webkit-box-ordinal-group: 2;
		    -webkit-order: 1;
		    -ms-flex-order: 1;
		    order: 1;
		    margin-right: -25%;
		    font-size: 0.9rem;
		    font-weight: bold;
		}
		
		.aui-navBar-item:last-child {
		    -webkit-box-ordinal-group: 4;
		    -webkit-order: 3;
		    -ms-flex-order: 3;
		    order: 3;
		    -webkit-box-pack: end;
		    -webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		    justify-content: flex-end;
		}
		
		.aui-center {
		    -webkit-box-ordinal-group: 3;
		    -webkit-order: 2;
		    -ms-flex-order: 2;
		    order: 2;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -webkit-justify-content: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    height: 44px;
		    width: 50%;
		    margin-left: 25%;
		}
		
		.aui-center-title {
		    text-align: center;
		    width: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		    display: block;
		    text-overflow: ellipsis;
		    font-size: 30upx;
		    font-weight: bold;
		}
		.aui-navBar-item{
			font-size: .3rem;
		}
		