@import "style.less";
@import "style1.less";

header{
    background: #fff;
}
html,body{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-size:100% auto ;
    background-position-y: 79px;
}
section{height: 100%;}
.content{
    min-height: calc(100% - 89px);
    width: 96%;margin-left: 2%;border-radius: 5px;background: #fff;padding: .7rem .1rem;.flexalign();.column();margin-top: 10px;
    .info{width: 1.5rem;height: 1.5rem;padding: .1rem;border-radius: 5px;.flexc();box-shadow: 0px 0px 7px rgba(0,0,0,.1);
        img{width: 80%;}
    }
}
.addlx{
    border-radius: 15px;
    width: 100%;
    margin-top: 10px;
    .flex();
    .che{
        margin-top: -3px;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .line-title{
        flex: 1;
        margin: 0 10px;
    }
    .info2{
        .flex();
        .column();
        .h1{
            color: #7f4101;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}
.yq-btn{
    width: 90%;
//  padding: .4rem;
//  border-radius: 2rem;
//  font-size: .8rem;
//  box-shadow: 0px 6px 10px rgba(0,0,0,.4);
//  color: #fff;
//  background: linear-gradient(180deg,#f9441c,#ff7b38);
//  .flexc();
//  margin-top: 10px;
}
.content2{
    img{
        width: 1rem;
    }
    .num{
        width: .5rem;height: .5rem;border-radius: 50%;background: red;font-size: .3rem;line-height: .3rem;.flexc();color: #fff;
    }
    .num-title{letter-spacing: 1px;margin-top: 10px;font-size: .25rem;}
}
